body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-body .left_column {
    background: #38383e;
    min-height: 100vh;
}
.page-body .right_column{
    flex-grow: 1;
    flex-shrink: 1;
}

.page-body .wrapper_page{
    position: relative;
}
.wrapper_page .col-md-10{
    margin: 0;
    padding: 0;
}
.right_column .menu_top{
    height: 50px;
    background-color: lightgreen;
}
.page_title{
    text-align: center;
    padding-top: 6px;
    font-size: 1.05rem;
    color: blue;
}
.main-sidebar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}